In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Extract

In [3]:
# Load the data into a Pandas DataFrame
file_path = 'data/all_data_M_2023.xlsx'
df = pd.read_excel(file_path, sheet_name='All May 2023 data')

# Step 2: Transform the data

In [4]:
renamed_oews_df = df.rename(columns={
    'AREA': 'area',
    'AREA_TITLE': 'area_title',
    'PRIM_STATE': 'prim_state',
    'OCC_CODE': 'occ_code',
    'OCC_TITLE': 'occ_title',
    'O_GROUP': 'o_group',
    'TOT_EMP': 'tot_emp',
    'EMP_PRSE': 'emp_prse',
    'JOBS_1000': 'jobs_1000',
    'LOC_QUOTIENT': 'loc_quotient',
    'H_MEAN': 'h_mean',
    'A_MEAN': 'a_mean',
    'MEAN_PRSE': 'mean_prse',
    'H_PCT25': 'h_pct25',
    'H_MEDIAN': 'h_median',
    'H_PCT75': 'h_pct75',
    'A_PCT25': 'a_pct25',
    'A_MEDIAN': 'a_median',
    'A_PCT75': 'a_pct75'
})
renamed_oews_df

,area,area_title,AREA_TYPE,prim_state,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,occ_code,occ_title,...,h_median,h_pct75,H_PCT90,A_PCT10,a_pct25,a_median,a_pct75,A_PCT90,ANNUAL,HOURLY
0,99,U.S.,1,US,000000,Cross-industry,cross-industry,1235,00-0000,All Occupations,...,23.11,37.01,58.4,29050,35660,48060,76980,121470,NaN,NaN
1,99,U.S.,1,US,000000,Cross-industry,cross-industry,1235,11-0000,Management Occupations,...,56.19,81.29,111.36,54550,78330,116880,169090,231620,NaN,NaN
2,99,U.S.,1,US,000000,Cross-industry,cross-industry,1235,11-1000,Top Executives,...,49.74,79.57,#,46400,66170,103460,165500,#,NaN,NaN
3,99,U.S.,1,US,000000,Cross-industry,cross-industry,1235,11-1010,Chief Executives,...,99.37,#,#,80000,130840,206680,#,#,NaN,NaN
4,99,U.S.,1,US,000000,Cross-industry,cross-industry,1235,11-1011,Chief Executives,...,99.37,#,#,80000,130840,206680,#,#,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413322,4800006,Coastal Plains Region of Texas nonmetropolitan...,6,TX,000000,Cross-industry,cross-industry,1235,53-7199,"Material Moving Workers, All Other",...,17.45,18.74,20.54,29680,30910,36290,38980,42720,NaN,NaN
413323,5500001,Northwestern Wisconsin nonmetropolitan area,6,WI,000000,Cross-industry,cross-industry,1235,53-7199,"Material Moving Workers, All Other",...,15.39,19.25,22,27770,30180,32020,40040,45760,NaN,NaN
413324,5500002,Northeastern Wisconsin nonmetropolitan area,6,WI,000000,Cross-industry,cross-industry,1235,53-7199,"Material Moving Workers, All Other",...,14.11,18.29,26.99,20290,25080,29350,38050,56130,NaN,NaN
413325,5500003,South Central Wisconsin nonmetropolitan area,6,WI,000000,Cross-industry,cross-industry,1235,53-7199,"Material Moving Workers, All Other",...,15.94,18.55,20.54,28380,32680,33150,38590,42730,NaN,NaN
413326,5500004,Western Wisconsin nonmetropolitan area,6,WI,000000,Cross-industry,cross-industry,1235,53-7199,"Material Moving Workers, All Other",...,16.42,26.99,29.69,22130,28790,34160,56130,61740,NaN,NaN

In [13]:
df_cleaned = renamed_oews_df.loc[renamed_oews_df['AREA_TYPE'] == 2, :]
df_cleaned

,area,area_title,AREA_TYPE,prim_state,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,occ_code,occ_title,...,h_median,h_pct75,H_PCT90,A_PCT10,a_pct25,a_median,a_pct75,A_PCT90,ANNUAL,HOURLY
177501,1,Alabama,2,AL,000000,Cross-industry,cross-industry,1235,00-0000,All Occupations,...,19.88,30.09,46.18,22620,29580,41350,62580,96050,NaN,NaN
177502,2,Alaska,2,AK,000000,Cross-industry,cross-industry,1235,00-0000,All Occupations,...,26.99,40.52,58.35,31200,38720,56140,84280,121370,NaN,NaN
177503,4,Arizona,2,AZ,000000,Cross-industry,cross-industry,1235,00-0000,All Occupations,...,22.92,35.05,51.67,30870,36150,47680,72900,107470,NaN,NaN
177504,5,Arkansas,2,AR,000000,Cross-industry,cross-industry,1235,00-0000,All Occupations,...,18.78,28.32,40.5,26360,30000,39060,58900,84240,NaN,NaN
177505,6,California,2,CA,000000,Cross-industry,cross-industry,1235,00-0000,All Occupations,...,25.98,44.83,73.07,34170,37890,54030,93250,151990,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214139,49,Utah,2,UT,000000,Cross-industry,cross-industry,1235,53-7199,"Material Moving Workers, All Other",...,20.81,23.38,28.04,30470,35360,43280,48630,58320,NaN,NaN
214140,51,Virginia,2,VA,000000,Cross-industry,cross-industry,1235,53-7199,"Material Moving Workers, All Other",...,18.21,24.64,26.63,29900,31980,37880,51240,55390,NaN,NaN
214141,53,Washington,2,WA,000000,Cross-industry,cross-industry,1235,53-7199,"Material Moving Workers, All Other",...,26.9,35.69,42.18,41780,45900,55960,74240,87730,NaN,NaN
214142,54,West Virginia,2,WV,000000,Cross-industry,cross-industry,1235,53-7199,"Material Moving Workers, All Other",...,15.12,15.92,22.07,28140,28140,31440,33110,45900,NaN,NaN
214143,55,Wisconsin,2,WI,000000,Cross-industry,cross-industry,1235,53-7199,"Material Moving Workers, All Other",...,16,20.72,26.99,25080,29000,33280,43090,56130,NaN,NaN

In [17]:
# Convert object columns to numeric
columns_to_convert = [
    'tot_emp',
    'emp_prse',
    'jobs_1000',
    'loc_quotient',
    'h_mean',
    'a_mean',
    'mean_prse',
    'h_pct25',
    'h_median',
    'h_pct75',
    'a_pct25',
    'a_median',
    'a_pct75'
]

In [18]:
# Convert the specified columns to numeric, coercing errors
df_cleaned[columns_to_convert] = df_cleaned[columns_to_convert].apply(pd.to_numeric, errors='coerce')

df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36643 entries, 177501 to 214143
Data columns (total 32 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area          36643 non-null  int64
 1   area_title    36643 non-null  object
 2   AREA_TYPE     36643 non-null  int64
 3   prim_state    36643 non-null  object
 4   NAICS         36643 non-null  object
 5   NAICS_TITLE   36643 non-null  object
 6   I_GROUP       36643 non-null  object
 7   OWN_CODE      36643 non-null  int64
 8   occ_code      36643 non-null  object
 9   occ_title     36643 non-null  object
 10  o_group       36643 non-null  object
 11  tot_emp       35775 non-null  float64
 12  emp_prse      35775 non-null  float64
 13  jobs_1000     35775 non-null  float64
 14  loc_quotient  35775 non-null  float64
 15  PCT_TOTAL     0 non-null      object
 16  PCT_RPT       0 non-null      object
 17  h_mean        33535 non-null  float64
 18  a_mean        35951 non-null  float64
 19  mean_prse     36150 non-null  float64
 20  H_PCT10       36643 non-null  object
 21  h_pct25       33400 non-null  float64
 22  h_median      33121 non-null  float64
 23  h_pct75       32851 non-null  float64
 24  H_PCT90       36643 non-null  object
 25  A_PCT10       36643 non-null  object
 26  a_pct25       35816 non-null  float64
 27  a_median      35531 non-null  float64
 28  a_pct75       35244 non-null  float64
 29  A_PCT90       36643 non-null  object
 30  ANNUAL        2586 non-null   object
 31  HOURLY        159 non-null    object
dtypes: float64(13), int64(3), object(16)
memory usage: 9.2+ MB

C:\Users\Bryan Hamilton-Brown\AppData\Local\Temp\ipykernel_19936\3566272512.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[columns_to_convert] = df_cleaned[columns_to_convert].apply(pd.to_numeric, errors='coerce')

In [27]:
occ_code_list = ['00-0000', '11-0000', '13-0000', '15-0000', '17-0000', '19-0000', '21-0000', '23-0000', '25-0000', '27-0000', '29-0000', '31-0000', '33-0000',\
    '35-0000', '37-0000', '39-0000', '41-0000', '43-0000', '45-0000', '47-0000', '49-0000', '51-0000', '53-0000', '11-3021', '13-1161', '13-2031', '13-2041',\
        '13-2054', '15-1221', '15-1251', '15-1252', '15-1253', '15-1254', '15-2011', '15-2031', '15-2041', '19-1022', '19-1029', '19-2041', '29-9091', '41-3021',\
            '43-9021', '13-2051','15-1211', '15-1242', '15-1243', '15-2051']

df_filtered = df_cleaned[df_cleaned['occ_code'].isin(occ_code_list)]
df_filtered

,area,area_title,AREA_TYPE,prim_state,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,occ_code,occ_title,...,h_median,h_pct75,H_PCT90,A_PCT10,a_pct25,a_median,a_pct75,A_PCT90,ANNUAL,HOURLY
177501,1,Alabama,2,AL,000000,Cross-industry,cross-industry,1235,00-0000,All Occupations,...,19.88,30.09,46.18,22620,29580.0,41350.0,62580.0,96050,NaN,NaN
177502,2,Alaska,2,AK,000000,Cross-industry,cross-industry,1235,00-0000,All Occupations,...,26.99,40.52,58.35,31200,38720.0,56140.0,84280.0,121370,NaN,NaN
177503,4,Arizona,2,AZ,000000,Cross-industry,cross-industry,1235,00-0000,All Occupations,...,22.92,35.05,51.67,30870,36150.0,47680.0,72900.0,107470,NaN,NaN
177504,5,Arkansas,2,AR,000000,Cross-industry,cross-industry,1235,00-0000,All Occupations,...,18.78,28.32,40.5,26360,30000.0,39060.0,58900.0,84240,NaN,NaN
177505,6,California,2,CA,000000,Cross-industry,cross-industry,1235,00-0000,All Occupations,...,25.98,44.83,73.07,34170,37890.0,54030.0,93250.0,151990,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212239,51,Virginia,2,VA,000000,Cross-industry,cross-industry,1235,53-0000,Transportation and Material Moving Occupations,...,19.52,24.61,31.67,28400,33710.0,40600.0,51190.0,65880,NaN,NaN
212240,53,Washington,2,WA,000000,Cross-industry,cross-industry,1235,53-0000,Transportation and Material Moving Occupations,...,22.67,29.22,37.37,35090,38690.0,47150.0,60770.0,77730,NaN,NaN
212241,54,West Virginia,2,WV,000000,Cross-industry,cross-industry,1235,53-0000,Transportation and Material Moving Occupations,...,17.07,22.06,29.54,23400,29050.0,35500.0,45890.0,61450,NaN,NaN
212242,55,Wisconsin,2,WI,000000,Cross-industry,cross-industry,1235,53-0000,Transportation and Material Moving Occupations,...,20.28,24.99,30.64,27810,34240.0,42170.0,51980.0,63720,NaN,NaN
212243,56,Wyoming,2,WY,000000,Cross-industry,cross-industry,1235,53-0000,Transportation and Material Moving Occupations,...,21.55,28.98,37.48,28800,36620.0,44820.0,60280.0,77950,NaN,NaN

In [32]:
# The correct column names already exist, so we can directly filter them without renaming.
columns_to_keep = [
    'area',
    'area_title',
    'prim_state',
    'occ_code',
    'occ_title',
    'o_group',
    'tot_emp',
    'emp_prse',
    'jobs_1000',
    'loc_quotient',
    'h_mean',
    'a_mean',
    'mean_prse',
    'h_pct25',
    'h_median',
    'h_pct75',
    'a_pct25',
    'a_median',
    'a_pct75'
]

# Filter the DataFrame to keep only the relevant columns
df_filtered = df_filtered[columns_to_keep]

In [33]:
final_df = df_filtered.dropna(how='any')
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2278 entries, 177501 to 212243
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area          2278 non-null   int64
 1   area_title    2278 non-null   object
 2   prim_state    2278 non-null   object
 3   occ_code      2278 non-null   object
 4   occ_title     2278 non-null   object
 5   o_group       2278 non-null   object
 6   tot_emp       2278 non-null   float64
 7   emp_prse      2278 non-null   float64
 8   jobs_1000     2278 non-null   float64
 9   loc_quotient  2278 non-null   float64
 10  h_mean        2278 non-null   float64
 11  a_mean        2278 non-null   float64
 12  mean_prse     2278 non-null   float64
 13  h_pct25       2278 non-null   float64
 14  h_median      2278 non-null   float64
 15  h_pct75       2278 non-null   float64
 16  a_pct25       2278 non-null   float64
 17  a_median      2278 non-null   float64
 18  a_pct75       2278 non-null   float64
dtypes: float64(13), int64(1), object(5)
memory usage: 355.9+ KB

# Step 3: Load the Data

In [34]:
# Export the data to CSV
final_df.to_csv('data/EmploymentWageData.csv', index=False)