In [10]:
import os
import psycopg2
from dotenv import load_dotenv
load_dotenv()

rds_host=os.getenv('DB_HOST2')
rds_port = os.getenv('DB_PORT2')
db_name=os.getenv('DB_NAME2')
db_user=os.getenv('DB_USER2')
db_password=os.getenv('DB_PASS2')

In [11]:
# Establish a connection to your PostgreSQL database
connection = psycopg2.connect(
    host=rds_host,
    port=rds_port,
    database=db_name,
    user=db_user,
    password=db_password
)

In [12]:
# Create a cursor object to interact with the database
cursor = connection.cursor()

In [ ]:
# Define SQL queries to create the tables

# 1. Create the State table
create_state_table = """
CREATE TABLE IF NOT EXISTS State (
    state_id SERIAL PRIMARY KEY,
    state_name VARCHAR(255) NOT NULL,
    state_abbr VARCHAR(2) NOT NULL
);
"""

In [ ]:
# 2. Create the Occupation table
create_occupation_table = """
CREATE TABLE IF NOT EXISTS Occupation (
    occ_code VARCHAR(10) PRIMARY KEY,
    occ_title VARCHAR(255) NOT NULL,
    o_group VARCHAR(50) NOT NULL
);
"""

In [ ]:
# 3. Create the EmploymentWage table
create_employment_wage_table = """
CREATE TABLE IF NOT EXISTS EmploymentWage (
    id SERIAL PRIMARY KEY,
    state_id INT REFERENCES State(state_id),
    occ_code VARCHAR(10) REFERENCES Occupation(occ_code),
    tot_emp REAL,
    emp_prse REAL,
    jobs_1000 REAL,
    loc_quotient REAL,
    h_mean REAL,
    a_mean REAL,
    mean_prse REAL,
    h_pct25 REAL,
    h_median REAL,
    h_pct75 REAL,
    a_pct25 REAL,
    a_median REAL,
    a_pct75 REAL
);
"""

In [ ]:
# Execute the queries to create the tables
cursor.execute(create_state_table)
cursor.execute(create_occupation_table)
cursor.execute(create_employment_wage_table)

# Commit the changes to the database
connection.commit()

print("Tables created successfully.")

In [ ]:
# Close the cursor and connection
cursor.close()
connection.close()